<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid">
    <div class="text-center mx-auto" style="color: white; font-weight: 300; font-size: 2rem; text-align: center;"><i class="fas fa-shopping-cart text-center"></i></div>
  </div>
</nav>