

<div class="col-12 col-lg-4">
        <div class="card" style="width: 18rem;">
         <img src="/{{this}}.png" class='col-sm'>
          <div class="card-body">
            <h5 class="card-title">{{this}}</h5>
          </div>
        </div>
      </div>